<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBd9pf-M8OliCMfsr4MSRJOIrJfgAnX0Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>846756640287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eVahak.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>evahak-6384c</string>
	<key>STORAGE_BUCKET</key>
	<string>evahak-6384c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846756640287:ios:8fcd95693355d271cf872a</string>
</dict>
</plist>